# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    services:
      victoria_metrics:
        image: mirror.gcr.io/victoriametrics/victoria-metrics:v1.107.0
        ports:
          - 8428:8428
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.11'
        cache-dependency-path: go.sum

    - name: install govulncheck utility
      run: go install golang.org/x/vuln/cmd/govulncheck@latest

    - name: scan for vulnerable packages
      run: make vuln

    - name: run unit test
      run: go test -v --cover ./...

